.carousel-inner{
    height: 700px;
    

}
.carousel-indicators li{
    background-color: black !important;
}
.carousel-control-prev-icon {
    background-color: black !important;
}
.carousel-control-next-icon {
    background-color: black !important;
}
.carousel-item {
    color: black;
    opacity .5s ease-out;

}

.header{
  width: 100%;
  height: 850px;
}
.carousel-caption {
	left: 70% !important;
	text-align: left;
    padding: 0;
    color: black !important;
}
.titulo {
    height: 200px;
    margin-top: 50px;
    font-size: 5.5rem;
}
.titulo2 {
  margin-bottom: 50px;
  font-size: 5.5rem;
  margin-top: 50px;
}
.texto {
  font-size: 1.2rem;
}

.carrusel1 {
    background-color: lightpink;
    height: 250px;
    width: 500px;
}
.carrusel2 {
    background-color: lightblue;
    height: 250px;
    width: 500px;
}

.carrusel3{
    background-color: lightblue;
    height: 280px;
    width: 500px;
}

.novedades {
  background-color: lightblue;
  margin-bottom: 50px;
}
.tarjetas {
    margin-bottom: 50px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}
.introducción{
    margin-top: 100px;
    margin-bottom: 50px;
  
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 15px;
    background-color: #EEEEEE;
    box-sizing: border-box;
    overflow: auto;
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .sidebar-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar-nav .space-top {
    margin-top: 25px;
  }
  
  .sidebar-nav.bottom {
    margin-top: auto;
  }
  
  .sidebar:not(.open) li {
    display: block;
  }
  
  .sidebar.open li {
    display: flex;
  }
  
  .sidebar.open li:not(.no-sub-list) {
    flex-direction: column;
  }
  
  .sidebar-toggle svg {
    transition: transform 0.2s;
    transform+_: rotate(180deg);
  }
  
  .sidebar.open .sidebar-toggle svg {
    transform+_: rotate(0deg);
  }
  
  .sidebar.open .sidebar-toggle {
    margin-left: auto;
  }
  
  .sidebar-nav a {
    position: relative;
    display: flex;
    flex: auto;
    color: greyligh;
    padding: 5px;
    border-radius: 9px;
    text-decoration: none;
  }
  
  .sidebar-nav li:not(.active) ul, .sidebar:not(.open) li ul  {
    display: none;
  }
  
  .sidebar:not(.open) a {
    display: block;
  }
  
  .sidebar.open a.icon-only {
    flex: 0;
  }
  
  .sidebar.open a span {
    margin-right: 5px; /* Used to place the badge correctly */
  }
  
  .sidebar:not(.open) a span {
    display: none;
  }
  
  .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav li.active > a {
    color: #223fe3;
  }
  
  .sidebar-nav a:hover, .sidebar-nav li a:focus {
    background-color: rgba(26,54,209,0.1);
  }
  
  .logo {
    font-family: "Playfair Display", serif;
  }
  
  .sidebar a .activity-indicator {
    display: flex;
    position: relative;
    width: 5px;
    height: 5px;
    background-color: red;
    margin: auto;
    margin-right: 0;
    border-radius: 100%;
  }
  
  .sidebar:not(.open) a .activity-indicator {
      position: absolute;
      top: 5px;
      right: 5px;
  }
 
  .sidebar svg {
    display: inline-block;
    vertical-align: middle;
  }
  
  .sidebar a:active svg {
    transform+_: scale(0.9);
  }
  
  .sidebar a:not(.icon-only) svg:not(.hint) {
    margin-right: 15px;
  }
  
  .sidebar:not(.open) svg {
    margin-right: 0 !important;
  }

  #menu-bar{
      padding-left: 300px;
  }
  
card-md{
  width: 15rem !important;
}

@include media-breakpoint-up(md) {

  card-md{
      width: 15rem !important;
  }

}
@include media-breakpoint-up(sm) { 
  card-md {
    width: 15ram;
  }
}
.video {
  margin-bottom: 25px;
}
.footer {
 padding: 10px;
 margin-top: 25px;
}
#cv1 {
  background-color: gray;
}
.apartados {
  background-color: lightcoral;
}

.social-icon{
  font-size: 30px;
  margin-right: 20px;
  
}